<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ignite</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="container-fluid">
    <section class="row">
      <aside class="col-sm-3 p-3 mb-2 bg-danger text-white large">
        <div>
          <h1>Menu</h1>
        </div>
        <div>
          <a href="../index.html">Link 1</a>
        </div>
        <div>
          <a href="#" class="llamandoApi">Link 2</a>
        </div>
      </aside>
      <article class="col-sm-9 bg-success large">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Age</th>
              </tr>
            </thead>
            <tbody id="body">

            </tbody>
          </table>

        </div>
      </article>
    </section>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
